<footer class="footer" role="contentinfo">
	<div class="wrapper">
		<div class="col-1">
			<img src="/elephant.png" />
			<div class="copyright">Copyright &copy; La Résidence EBURNEA 2016</div>
		</div>
		<div class="col-2">
			<ul class="footer__contact">
				<li>
					<i class="icon icon-pin"></i>
					<address>
					  Abidjan, Côte d'Ivoire<br>
					  Cocody les II Plateaux<br>
					  7ème tranche<br>
					  Rue L173
					</address>
				</li>
			</ul>
		</div>
		<div class="col-3">
			<ul class="footer__contact">
				<li><i class="icon icon-call"></i><a href="tel:+225225270">(225) 22 52 70</a></li>
				<li><i class="icon icon-mail"></i><a href="mailto:info@residence-eburneam.com">info@residence-eburnea.com</a></li>
			</ul>
		</div>
		<div class="col-4" >
			<ul>
			  <li style="margin-left: 0"><a href="/"><i class="icon-home icon"></i><%= raw I18n.t('navigation.home') %></a></li>
			  <li><a href="/studios" title="<%= raw I18n.t('navigation.studios') %>"><i class="icon-lamp icon"></i><%= raw I18n.t('navigation.studios') %></a></li>
			  <li> <a href="apartments" title="Apartments"><i class="icon-lamp icon"></i> <%= raw I18n.t('navigation.apartments') %></a></li>
			  <li><a href="/services" title="Services"><i class="icon-wifi icon"></i> <%= raw I18n.t('navigation.services') %></a></li>
			  <li><a href="/things-to-do" title="Things to do"><i class="icon-binoculars icon"></i> <%= raw I18n.t('navigation.todo') %></a></li>
			</ul>
		</div>
	</div>
</footer>
