

<nav class="navigation" id="navigation" role="navigation" style="border-bottom: 2px solid #7CC89D; ">
	<div style="text-align: center; width: 81em; margin: auto">
		<ul>
		  <li style="margin-left: 0"><a href="/"><i class="icon-home icon"></i> <%= raw I18n.t('navigation.home') %></a> </li>
		  <li><a href="/studios" title="Studios"><i class="icon-lamp icon"></i> <%= raw I18n.t('navigation.studios') %></a></li>
		  <li> <a href="apartments" title="Apartments"><i class="icon-lamp icon"></i> <%= raw I18n.t('navigation.apartments') %></a></li>
		  <li><a href="/services" title="Services"><i class="icon-wifi icon"></i> <%= raw I18n.t('navigation.services') %></a></li>
		  <li><a href="/things-to-do" title="Things to do"><i class="icon-binoculars icon"></i> <%= raw I18n.t('navigation.todo') %> </a></li>
		  <li><a href="/contact-us" title="Contact Us"><i class="icon-mail icon"></i> <%= raw I18n.t('navigation.contact') %></a></li>
		</ul>
	</div>
</nav>
