<head id="www.residence-eburnea.com" data-template-set="html5-reset-wordpress-theme">
	<%= render "shared/head" %>
</head>
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6">
	<div id="wrapper">
		<%= render "shared/navigation" %>
		<img src="/img/home/banner.jpg" style="border-bottom: 3px solid #7CC89D" />
		<%= render "main" %>
		<%= render "mosaic" %>
		<%= render "shared/footer" %>
	</div>
</body>
</html>
