<%= stylesheet_link_tag "contact", media: "all" %>

<div style="display: flex">

	<% if flash[:sent] %>

	<p><%= flash[:sent] %></p>

	<% else %>

	<div class="contact-form" style="flex: 1; padding-right: 120px">

		<form action="/contact" method="post">
			<div>
				<label><%= raw I18n.t('contact.sender_name') %></label>
				<input type="text" name="sender_name"/>
			</div>
			<div>
				<label><%= raw I18n.t('contact.sender_email') %></label>
				<input type="text" name="sender_email"/>
			</div>
			<div>
				<label><%= raw I18n.t('contact.sender_phone') %></label>
				<input type="text" name="sender_phone" />
			</div>
			<div>
				<label><%= raw I18n.t('contact.sender_message') %></label>
				<textarea name="sender_message"></textarea>
			</div>
			<div>
			<input type="hidden" name="locale" value="<%= params[:locale] %>" />
			<input type="submit" value="<%= raw I18n.t('contact.send') %>" />
			</div>
		</form>
	</div>

	<% end %>

</div>
