<%= stylesheet_link_tag "services", media: "all" %>

<div class="flexbox">
	<div style="flex: 1"><%= raw I18n.t('services.main_column_left') %></div>
	<div style="flex: 1; padding-left: 60px"><%= raw I18n.t('services.main_column_right') %></div>
</div>

<br/>

<div class="divider"></div>

<h2><%= raw I18n.t('services.meals_title') %></h2>

<%= raw I18n.t('services.meals_text') %>

<div class="meals flexbox">

	<div class="panel" style="padding-left: 0">
		<h3><%= raw I18n.t('services.breakfast_title') %></h3>
		<img src="/img/services/breakfast.jpg" />
		<%= raw I18n.t('services.breakfast_text') %>
		<h3><%= raw I18n.t('services.snack_bar_title') %></h3>
		<img src="/img/services/cocktail.jpg" />
		<%= raw I18n.t('services.snack_bar_text') %>
	</div>
	<div class="panel">
		<h3><%= raw I18n.t('services.lunch_and_dinner_title') %></h3>
		<img src="/img/services/attieke3.jpg" />
		<%= raw I18n.t('services.lunch_and_dinner_text') %>
	</div>

</div>
