<head id="www.residence-eburnea.com" data-template-set="html5-reset-wordpress-theme">
	<%= render "shared/head" %>
	<style type="text/css">
	.banner{
			border: 2px solid #7CC89D;
			font-size: 32px;
			position: relative;
			top: -70px;
			padding: 12px;
			font-weight: 700;
			background-color: #7CC89D;
			border-radius: 10px;
			opacity: 0.9;
			display: inline-block;
			color: white
	}

	</style>
</head>
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-6">
	<div id="wrapper">
		<%= render "shared/navigation" %>

		<img src="/img/<%= @img_folder %>/banner.jpg" style="border-bottom: 3px solid #7CC89D" />

		<main role="main">
			<div class="wrapper">
				<div class="banner"><%= @title %></div>
				<%= yield %>
			</div>
		</main>

		<%= render "shared/footer" %>

	</div>
	<script src="http://www.residence-eburnea.com/wp-content/themes/residencerb/_/js/core.js"></script>
</body>
</html>
